:root {
  --mainDark: #242325;
  --mainBlue: #03a9f4;
  --mainWhite: #fff;
  --mainGrey: #eeeeee;
}
body {
  font-family: sans-serif;
  background: var(--mainWhite);
  color: var(--mainDark);
}

/* global */
.blue__btn {
  color: var(--mainBlue);
  border: 0.1rem solid var(--mainBlue);
  background: transparent;
}
.blue__btn:hover {
  background: var(--mainBlue);
  color: var(--mainWhite);
}
.text-blue {
  color: var(--mainBlue);
}

/* navbar */

.navbar {
  background: var(--mainDark);
}
.phone-icon {
  color: var(--mainBlue);
  border: 0.1rem solid var(--mainBlue);
  padding: 0.5rem;
  border-radius: 50%;
}
.navbar-brand {
  font-weight: 900;
  font-style: italic;
  padding: 1rem;
  transition: 0.5s all;
}
.navbar-brand:hover {
  color: var(--mainDark);
  background: var(--mainBlue);
}
/* end of navbar */

/* banner */
.banner-info {
  min-height: calc(100vh - 77px);
  background: var(--mainGrey);
  position: relative;
}
.banner-info__footer {
  background: var(--mainBlue);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 1rem;
}
.banner-img__footer {
  background: var(--mainDark);
  position: absolute;
  bottom: 0;
  right: 0;
  height: 104px;
  display: flex;
  align-items: center;
}
.banner-img {
  min-height: calc(100vh - 77px);
  background: url('../img/bg.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
/* end of banner */
.blockquote {
  border-left: 0.5rem solid var(--mainBlue);
}
/* featured */
.featured {
  background: var(--mainGrey);
}
/* services section */
.services,
.tour {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('../img/bg.jpeg') center/cover fixed no-repeat;
}
.services-info-text {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: var(--mainBlue);
  color: var(--mainWhite) !important;
  margin-bottom: 0;
  text-decoration: none;
  text-align: center;
}
.services-info-text:hover {
  color: var(--mainDark) !important;
  text-decoration: none;
}
.service-icon {
  font-size: 2rem;
  color: var(--mainBlue);
  padding: 0.5rem;
  border: 0.1rem solid var(--mainBlue);
  margin-right: 1rem;
  transition: all 1s ease-in-out;
}
.service-icon:hover {
  background: var(--mainBlue);
  color: var(--mainGrey);
}
.service-link:hover {
  color: var(--mainWhite);
}
/* gallery section */
.gallery-btn:hover {
  background: var(--mainBlue);
  color: var(--mainWhite);
}
.gallery-img-container {
  position: relative;
  transition: all 0.5s linear;
  overflow: hidden;
}
.gallery-img-container:hover {
  background: rgba(0, 0, 0, 0.9);
}
.gallery-img {
  transition: all 0.5s linear;
}
.gallery-img-container:hover .gallery-img {
  opacity: 0.3;
}
.gallery-info {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 100%);
  background: var(--mainBlue);
  color: var(--mainWhite);
  text-decoration: none;
  transition: all 0.3s linear;
}
.gallery-info:hover {
  text-decoration: none;
  color: var(--mainDark);
}
.gallery-img-container:hover .gallery-info {
  transform: translate(-50%, 0);
}

.gallery-icon {
  position: absolute;
  color: var(--mainWhite);
  top: 50%;
  left: 50%;
  font-size: 2rem;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s linear;
  cursor: pointer;
}
.gallery-img-container:hover .gallery-icon {
  opacity: 1;
}
